body {
  background-color: rgb(88, 82, 82);
  margin:0;
}

.section {
  display: grid;
  height: 100vh;
}
.add-button {
  text-align: center;
  font-size: 10vh;
  border-radius: 10px;
  height: 50vh;
  width: 50vh;
  place-self: center;
}
