


body {
  background-color: rgb(88, 82, 82);
}

.add-button {
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10em;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  line-height: 10em;
  margin: 3em;
  transform: translate(-50%, -50%);
}

